@keyframes homeload {
    0% {
        background-color: #459cee;
    }
    25% {
        background-color: #88c2f8;
    }
    50% {
        background-color: #d1e7fc;
    }
    100% {
        background-color: rgb(255, 255, 255);
    }
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.mainBody {
    background-color: rgb(255, 255, 255);
    animation-name: homeload;
    animation-duration: 2s;
}
.content-wrapper {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(9, minmax(100px, 1fr));
    grid-template-areas:
        "a a a a a a a a a a a a"
        "a a a a a a a a a a a a"
        "a a a a a a a a a a a a"
        "b b b b b b b b b b b b"
        "b b b b b b b b b b b b"
        "b b b b b b b b b b b b"
        "b b b b b b b b b b b b"
        "b b b b b b b b b b b b"
        "c c c c c c c c c c c c";
    padding-top: 20px;
    gap: 20px;
    border: 3px solid white;
}

.product-row {
    display: flex;
    justify-content: space-around;
    grid-area: a;
}
/* HOMEPAGE CAROUSEL */

.carousel {
    border: 10px solid #459cee21;
    box-shadow: 5px 5px 10px rgb(161, 161, 161), 10px 10px 5px #459cee;
    margin-top: 15px;
}

.carousel-caption {
    position: relative;
    background-color: #459ceeaf;
    border: 10px double #1563ada9;
    border-radius: 5px 50px;
}

.carousel-cap1 {
    top: 250px;
    width: 400px;
    height: 200px;
}

/* HOMEPAGE PRODUCTS */

.card {
    width: 24rem;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px 10px rgb(161, 161, 161), 10px 10px 5px #459cee;
}
.card img {
    width: 350px;
    height: 400px;
}

/* HOMEPAGE TABLE */
.table-row {
    display: flex;
    justify-content: center;

    text-align: center;
    grid-area: b;
    border: 3px solid white;

    background-color: white;
    gap: 20px;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 30rem;
    border: 1px double #459cee;
}
td,
th {
    text-align: center;
}

tr:nth-child(even) {
    background-color: #459cee8c;
}

.captions {
    caption-side: top;
    padding: 10px;
    font-weight: bold;
    text-align: center;
}

.button-class {
    background-color: #459cee;
    padding: 5px 10px;
    margin: 10px 0;
    color: white;
    border: 1px solid #115ca1;
}

/* ABOUT PAGE */
.about-row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 3px solid #459cee73;
    box-shadow: 5px 5px 10px rgb(161, 161, 161), 10px 10px 5px #459cee;
    padding-bottom: 15px;
    margin: 50px 0 50px 0;
}

.about-content {
    padding-top: 25px;
    width: 1000px;

    margin-top: 50px;
}
.about-content h1 {
    color: #459cee;
}

.p-span {
    color: #459cee;
    font-weight: bold;
    font-size: 20px;
}

.group-image {
    height: auto;
    width: 100%;
}

/* CONTACT PAGE */
.contact-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px 0;
    padding-top: 20px;
    border: 1px solid #459cee;
    box-shadow: 5px 5px 10px rgb(161, 161, 161), 10px 10px 5px #459cee;
}
.contact-info input[type="text"],
.contact-info select,
.contact-info textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 6px;
    margin-bottom: 16px;
}

.contact-btn {
    background-color: #459cee;
    color: white;
    padding: 8px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.contact-btn:hover {
    background-color: #115ca1;
}
/* FOOTER ROW */
.footer-row {
    display: flex;
    justify-content: space-around;
    align-items: center;
    grid-area: c;
    border-top: 1px solid #459cee;
    border-bottom: 30px solid #459cee;
    padding-top: 10px;
}

.footer-form {
    height: 100px;
}
